.wrapper {
  // height: 100vh;
  // flex-grow: 1;
  width: 20%;
  transition: all .5s ease-in-out;
  .title {
    // https://developer.mozilla.org/zh-CN/docs/Web/CSS/writing-mode
    writing-mode: vertical-lr;
    margin-left: 8px;
    margin-top: 8px;
  }
}
