.wrapper {
  // height: 100vh;
  // flex-grow: 1;
  width: 18%;
  transition: all .5s ease-in-out;
  // flex-shrink: 0;
  .title {
    // https://developer.mozilla.org/zh-CN/docs/Web/CSS/writing-mode
    font-size: 1em;
    writing-mode: vertical-lr;
    letter-spacing: 0.1em;
    margin-top: 8px;
    user-select: none;
  }
}
